/* BEGIN SLICE FRAMEWORK */
.frameworkcontainer {
	width: 1200px;
	margin: 0 auto;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}


.col {
	margin:0;
	padding:0;
	display: block;
	float:left;

}

section {
	float: left;
	display: inline-block;
}

.one,
.two-even,
.three-even,
.four-even,
.fifty-fifty {
	width: 100%;
	display: block;
}

/*---- even splits ----*/

.one section{
	width: 100%;
}

.two-even section,
.fifty-fifty {
  	width: 50%;
}

.three-even section{
	width:33.33%;
}





/* Tablet Devices - Portrait */

@media screen and (max-width: 768px) {
	.three-even section:nth-child(1),
	.three-even section:nth-child(2){
		width:50%;
	}
	.three-even section:nth-child(3){
		width:100%;
	}
	

}






/* Mobile Phones*/

@media screen and (max-width: 480px) {
	.two-even section,
	.three-even section:nth-child(1),
	.three-even section:nth-child(2),
	.three-even section:nth-child(3){
		width:100%;
	} 

}

/*END SLICE FRAMEWORK */






section img {
	width: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background: #fff;
	overflow-x: hidden;
}

h2 {
	font-weight: 400;
	text-transform: uppercase;
}

p {
	font-weight: 300;

}



.bgvid{
  position:absolute;
  left:0;
  top:0;
  bottom: 0;
  width: 100%;
  background: #000;
}

.bgvid.inner{
  -webkit-filter:blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter:blur(5px);
}

.landing {
	height: 100vh;
	/*background: #769da4;*/
	/*background: url(../img/mtbaker-01.png) no-repeat center center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;

}

.landing img {
	margin: 5% 0 3% 5%;
	width: 85%;
	max-width: 900px;
}

.landing h1 {
	font-weight: 600;
	color: #eee;
	text-align: right;
	font-size: 1.25em;
	margin: 0 2% 2% 0;
	position: absolute;
	bottom: 0;
	right: 0;
	text-transform: uppercase;


}

.helloimsara {
    width: 50%;
    display: block;
    padding: 5% 25% 0 25%;
    margin-top: 5%;
}

.landing h2 {
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
    margin-top: 8%;
}

.landing button {
    background: rgba(255,255,255,.8);
    padding: .5em 2.25em;
    border: none;
    display: block;
    margin: 5% auto 0 auto;
}

.landing button:hover {
    background: rgba(255,255,255,1);
}

.landing button a {
	color: #000;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 300;
}



.menu, .menu-bg, .menu-burger {
position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  left: 25px;
  top: 15px;
}

.menu-bg {
  z-index: 99999;
  pointer-events: none;
  transition: .3s;
  left: 0;
  top:0;

}
.menu-bg.fs {
  width:20vw;
  height: 100vh;
	background: rgba(40,40,40,.8);
}

.menu-burger {
	position: fixed;
  width: 50px;
  height: 50px;

	z-index: 99999999;
  color: #ddd;
  padding-top: 0px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: .4s;
  transform-origin: center;
}


.menu-items {
  position: fixed;
  top: 0;
  font-size: 1em;
	text-transform: uppercase;
  color: black;
  width: 100%;
  text-align: left;
  opacity: 0;
  margin-top: 5%;
  padding-left: 5%;
  pointer-events: none;

}
.menu-items div {
	position: relative;
  opacity: 0;
  margin-top: .5em;
}

.menu-items.fs {
	z-index: 9999999;
  pointer-events: auto;
  opacity: 1;
  transition: 1s;
}
.menu-items.fs div {
  opacity: 1;
}




/* -------------------------------------------- */

a:link { 
  color: #ddd;
  text-decoration: none;
}
a:visited {
  color: #ddd;
}
a:hover {
  color: #a3c1c1;
}


.primaryNav {
	position: fixed;
}

nav li {
	display: inline-block;
}

nav li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	padding-right: 1.75em;
	font-size: .9em;
	letter-spacing: .2em;
}

.primaryNav {
	float: left;
	margin: 1.75% 0 0 2%;
}


.socialMedia {
	float: right;
	margin: 1% 2% 0 0;
}

.socialMedia li{
	width: 2em;
}

.socialMedia li img{
	width: 100%;
}


.tabs .sectionTitle {
	margin-top: 3%;
	color: #fff;
}

.transformer-tabs ul {
  list-style: none;
  width: 10%;
  float: left;
  display: block;
  margin-top: 10%;
  /*background: url('http://cdn.shopify.com/s/files/1/0219/2364/t/3/assets/Dotted_Line.png?701113322281929605') no-repeat center center;*/
}

.transformer-tabs li {
  display: block;
  padding: 0;
  vertical-align: bottom;
  background: #a5c5cb;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  text-align: center;
  margin: 15% 0% 
}

.transformer-tabs li:after {
	content: " ";
	display: block;
	width: 2px;
	height: 22px;
	background: #fff;
	margin-left: 48%;
}

.transformer-tabs li:last-of-type:after {
	content: " ";
	display: block;
	width: 0px;
	height: 0px;
	background: #fff;
	margin-left: 50%;


}


.transformer-tabs li:nth-child(1) .active,
.transformer-tabs li:nth-child(2) .active,
.transformer-tabs li:nth-child(3) .active,
.transformer-tabs li:nth-child(4) .active,
.transformer-tabs li:nth-child(5) .active{
  border-radius: 50%;
  width: 1.15em;
  height: 1em;
  background: #fff;
  color: #333;
}

.transformer-tabs a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}
.transformer-tabs a.active {
  border-bottom: 3px solid transparent;
  position: relative;
}


.tabs > div {
  display: none;
  padding: 1rem;
}

.tabs > .active {
  display: block;
}

.tabs {
  background: #A3C2C2;
  color: #333;
  min-height: 93vh;
  padding-top: 5%;
}

.tabs svg {
	width: 40%;
	margin: 0% 15% 1% 0;
	display: block;
	float: right;
	z-index: 9999;
}

.tabs img {
	width: 50%;
	float: left;
	margin: -4% 0 0 -3%;
	padding: 0 3% 5% 0;
}


.tabs .processContent {
	width: 30%;
	float: left;
	margin-top: -1%;
}

.tabs .processContent h2 {
	font-size: 1.75em;
	font-weight: 700;
	margin-top: 10%;
}

.tabs .sectionTitle,
.contact .sectionTitle {
	padding-left: 10%;
}

.work {
	width: 80%;
	margin: 5% 10% 0 10%;
}

.work img.recentwork {
	width: 50%;
	margin: -10% -20% -4% 60%;
	z-index: 1;
	position: relative;

}

.work section {
    width: 32%;
    margin: 0% .5% 1% .5%;
    background: #404E57;
    position: relative;
    color: #fff;
}

.work section:last-of-type {
	margin-bottom: 7%;
}

.work section .workDescription {
	padding: 2% 0 5% 5%;
}

.work section .workButtons {
	display: block;
	margin: 0 0 6% 5%;
	
}

.work section .workButtons a {
	border: 1px solid #ddd;
	text-decoration: none;
	padding: 1.5% 5%;
	text-transform: uppercase;
	font-weight: 400;
	font-size: .8em;
	color: #ddd;
	margin: 0 4% 0 0;
}

.work section .workButtons a:hover {
	background: #ddd;
	color: #333;
}

.work h4 {
	text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: 600;
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}

.work em {

	font-weight: 300;
	font-size: .9em;

}

.work a img {
	margin-top: 5%;
}

.colorPallet  {
	height: 3em;
	width: 3em;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid black;
	margin: 3% 4.5%;
}

.stremler_elements {
	width: 80%;
	margin: 0 auto 0 10%;
	display: block;
}

.stremler_elements h2,
.stremler_elements h3 {
	font-family: 'Proxima Nova', sans-serif;
	text-align: center;
	width: 90%;
}

.stremler_elements h3 {
	font-weight: 300;
}


.stremler_elements .colorPallet:nth-child(1) {
	background: #d52228;
}
.stremler_elements .colorPallet:nth-child(2) {
	background: #202f34;
}
.stremler_elements .colorPallet:nth-child(3) {
	background: #ddd;
}
.stremler_elements .colorPallet:nth-child(4) {
	background: #fff;
}
.stremler_elements .colorPallet:nth-child(5) {
	background: #575757;
}

.barb_elements {
	width: 80%;
	margin: 0 auto 0 10%;
	display: block;
}

.barb_elements h2,
.barb_elements h3 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	width: 90%;
}

.barb_elements h3 {
	font-weight: 300;
}


.barb_elements .colorPallet:nth-child(1) {
	background: #3f3f3f;
}
.barb_elements .colorPallet:nth-child(2) {
	background: #fff;
}
.barb_elements .colorPallet:nth-child(3) {
	background: #89a79f;
}
.barb_elements .colorPallet:nth-child(4) {
	background: #474747;
}
.barb_elements .colorPallet:nth-child(5) {
	background: #181818;
}

.tenji_elements {
	width: 80%;
	margin: 0 auto 0 10%;
	display: block;
}

.tenji_elements h2,
.tenji_elements h3 {
	font-family: 'Futura', sans-serif;
	text-align: center;
	width: 90%;
}

.tenji_elements h3 {
	font-weight: 300;
}


.tenji_elements .colorPallet:nth-child(1) {
	background: #ffffff;
}
.tenji_elements .colorPallet:nth-child(2) {
	background: #ed6523;
}
.tenji_elements .colorPallet:nth-child(3) {
	background: #ac1f23;
}
.tenji_elements .colorPallet:nth-child(4) {
	background: #484848;
}
.tenji_elements .colorPallet:nth-child(5) {
	background: #000;
}

.oakwood_elements {
	width: 80%;
	margin: 0 auto 0 10%;
	display: block;
}

.oakwood_elements h2,
.oakwood_elements h3 {
	font-family: 'Playfair Display', serif;
	text-align: center;
	width: 90%;
}

.oakwood_elements h3 {
	font-weight: 300;
}


.oakwood_elements .colorPallet:nth-child(1) {
	background: #212121;
}
.oakwood_elements .colorPallet:nth-child(2) {
	background: #444444;
}
.oakwood_elements .colorPallet:nth-child(3) {
	background: #353945;
}
.oakwood_elements .colorPallet:nth-child(4) {
	background: #fbad1c;
}
.oakwood_elements .colorPallet:nth-child(5) {
	background: #ffffff;
}

.slice_elements {
	width: 80%;
	margin: 0 auto 0 10%;
	display: block;
}

.slice_elements h2,
.slice_elements h3 {
	font-family: 'proxmima nova', sans-serif;
	text-align: center;
	width: 90%;
}

.slice_elements h3 {
	font-weight: 300;
}


.slice_elements .colorPallet:nth-child(1) {
	background: #000;
}
.slice_elements .colorPallet:nth-child(2) {
	background: #19737a;
}
.slice_elements .colorPallet:nth-child(3) {
	background: #4dbfad;
}
.slice_elements .colorPallet:nth-child(4) {
	background: #fbdd00;
}
.slice_elements .colorPallet:nth-child(5) {
	background: #ffffff;
}


.about { 
	width: 100%;
	position: relative;
	margin-top: 50%;
	background: #fff;
	max-height: 100vh;
	overflow: hidden;

}


.about .sectionTitle svg {
	margin: -6% 0 0 0%;
	width: 20%;
}

.about h5 {
	margin: 2% 0 0 5%;
	font-size: 1.75em;
	font-weight: 600;
	color: #873a4b;
}

.about p {
	margin: 2% 0 0 5%;
}

.about section:first-of-type{
	width: 45%;
	display: block;
	margin: 0 auto 0 auto ;
	float: left;
}

.about section:first-of-type img {
	width: 100%;
	display: block;
	margin: 0% auto 0 auto;
	-webkit-filter: saturate(.2);
}

.about .sectionTitle {
	margin: 15% auto 0 auto;
}

.contact {
	background: #494B48;
	text-align: center;
	color: #fff;

}

.contact svg {
	width: 60%;
	margin: 5% auto 0 auto;
}

.contact ul {
	margin: -2% 0 5% -3%;
}

.contact ul li{
	width: 2em;
	list-style: none;
	display: inline-block;
	margin: 0;
}

.contact ul img{
	width: 100%;
}

.contact h6 {
	font-size: 1.2em;
	letter-spacing: .1em;
}

@media screen and (max-width: 1250px) {
	.vid-container{
		width: auto;
  height: 100vh;
}

.bgvid{
  position:absolute;
  left:0;
  top:0;
  bottom: 0;
  width: auto;
  height: 100%;
}

.about { 
	width: 100%;
	position: relative;
	margin-top: 0%;

}

.helloimsara {
    margin-top: 8%;
}
}


@media screen and (max-width: 1100px) {

	.about .sectionTitle svg {
    display: none;
    height: 0;
}

.about h5 {
    margin: -7% 0 0 5%;
    font-size: 1.75em;
    font-weight: 600;
    color: #873a4b;
}
	}


@media screen and (max-width: 1000px) {

	.helloimsara {
		width: 70%;
    margin-top: 12%;
    padding: 5% 15% 0 15%;
}
	}
@media screen and (max-width: 768px) {

	.menu-bg.fs {
    width: 100vw;
    height: 30vh;
    background: rgba(40,40,40,.8);
}

.menu-items {

    margin-top: 6%;
    padding-left: 12%;

}

.helloimsara {
		width: 70%;
    margin-top: 15%;
    padding: 5% 15% 0 15%;
}

.helloimsara h2{
		width: 70%;
		margin-left: 15%;
}

	.landing img {
    margin: 15% 0 3% 5%;
}

.about {
	max-height: none;
}

	.about section:first-of-type {
    width: 100%;
    max-height: 70vh;
    overflow: hidden;
}

 
.about section:last-of-type {
	width: 100%;
}

.about h5 {
	width: 90%;
    margin: -5% 5% 0 5%;
    font-size: 1.5em;
}

.about p {
    width: 90%;
    margin: 2% 5% 2% 5%;

}

.about p:last-of-type {
	margin-bottom: 8%;
}

.tabs img.title {
    width: 70%;

}

.work img.recentwork {
    width: 70%;
    margin: -10% -20% -4% 40%;
}

	.skills section {
		width: 47%;
		margin-bottom: 5%;
	}

	.tabs img {
		width: 80%;
		padding-left: 4%;
	}

	.tabs .processContent {
		 width: 70%;
		 margin: -2% 0 3% 15%;
	}

	.tabs .sectionTitle {
		margin-left: 6%;
	}

	.three-even section:nth-child(1),
	.three-even section:nth-child(2),
	.three-even section:nth-child(3),
	.three-even section:nth-child(4),
	.three-even section:nth-child(5),
	.three-even section:nth-child(6),
	.three-even section:nth-child(7) {
		width:49%;
	}



}

@media screen and (max-width: 600px) {
.helloimsara {
		width: 70%;
    margin-top: 20%;
    padding: 5% 15% 0 15%;
}
}

@media screen and (max-width: 480px) { 

.menu-items {

    margin-top: 6%;
    padding-left: 20%;

}

.helloimsara {
		width: 80%;
    margin-top: 30%;
    padding: 5% 10% 0 10%;
}

.helloimsara h2 {
	width: 100%;
	margin-left: 0;
}

	.landing img {
	margin-top: 25%;
	width: 100%;

	}

	.about .sectionTitle img {
    width: 110%;
    margin-top: -100%;
    margin-left: 3%;
}





.tabs img.title {
    width: 90%;
}

.work img.recentwork {
    width: 90%;
    margin: -10% -20% -4% 20%;
}

	.skills section {
		width: 100%;
		margin-bottom: 5%;
	}

	.tabs img {
		width: 98%;
		padding-left: 4%;
	}

	.tabs .processContent {
		 width: 90%;
		 margin: -2% 0 8% 5%;
	}

	.tabs .sectionTitle {
		margin-left: 0%;
	}

	.three-even section:nth-child(1),
	.three-even section:nth-child(2),
	.three-even section:nth-child(3),
	.three-even section:nth-child(4),
	.three-even section:nth-child(5),
	.three-even section:nth-child(6),
	.three-even section:nth-child(7){
		width:100%;
	}


.tabs svg {
    width: 70%;
    margin: 0% 15% 1% 0;
    display: block;
    float: right;
    z-index: 9999;
}


.transformer-tabs ul {
  width: 100%;
  margin-bottom: 10%;

}

	.transformer-tabs li {
  display: inline-block;
  margin: -3% 10% 5% 0;
}

.transformer-tabs li:after {
	content: " ";
	display: inline-block;
	width: 0;
	height:0;
	background: #fff;
	position: absolute;
}

.contact em {
    margin: 0 8%;
}

}


/*CLEARFIX*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

