section img {
	width: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background: #eee;
	overflow-x: hidden;
}

h2 {
	font-weight: 400;
	text-transform: uppercase;
}

p {
	font-weight: 300;

}

.landing {
	height: 100vh;
	/*background: #769da4;*/
	background: url(../img/mtbaker-01.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing img {
	margin: 5% 0 3% 5%;
	width: 85%;
	max-width: 900px;
}

.landing h1 {
	font-weight: 600;
	color: #eee;
	text-align: right;
	font-size: 1.25em;
	margin: 0 2% 2% 0;
	position: absolute;
	bottom: 0;
	right: 0;
	text-transform: uppercase;


}

.landing svg {
    width: 50%;
    display: block;
    padding: 5% 25% 0 25%;
}

.landing h2 {
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
    margin-top: 5%;
}

.landing button {
    background: rgba(255,255,255,.8);
    padding: .5em 2.25em;
    border: none;
    display: block;
    margin: 3% auto;
}

.landing button:hover {
    background: rgba(255,255,255,1);
}

.landing button a {
	color: #000;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 300;
}


/* ---------- Hamburger Nav --------------- */

.mobile {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;

}
.mobile div {
  display: none;
  margin: 2% 0;
}
.mobile button {
  position: absolute;
  top: 10px;
  left: 20px;
  border: 0;
  text-indent: 200%;
  overflow: hidden;
  background: url("http://i.imgur.com/vKRaKDX.png") no-repeat center center ;
  border-radius: none;
  background-size: 90%;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
}
.mobile button.expanded {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}
.mobile a {
  display: block;
}
a {
  padding: .5em 0;
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

.desktop {
  display: inline-block;

}
.desktop a {
  float: left;
}






/* -------------------------------------------- */

a:link { /* Essentially means a[href], or that the link actually goes somewhere */
  color: #ccc;
}
a:visited {
  color: #ccc;
}
a:hover {
  color: #fff;
}
a:active {
}




nav li {
	display: inline-block;
}

nav li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	padding-right: 1.75em;
	font-size: .9em;
	letter-spacing: .2em;
}

.primaryNav {
	float: left;
	margin: 1.75% 0 0 2%;
}


.socialMedia {
	float: right;
	margin: 1% 2% 0 0;
}

.socialMedia li{
	width: 2em;
}

.socialMedia li img{
	width: 100%;
}


.tabs .sectionTitle {
	margin-top: 3%;
	color: #fff;
}

.transformer-tabs ul {
  list-style: none;
  width: 10%;
  float: left;
  display: block;
  /*background: url('http://cdn.shopify.com/s/files/1/0219/2364/t/3/assets/Dotted_Line.png?701113322281929605') no-repeat center center;*/
}

.transformer-tabs li {
  display: block;
  padding: 0;
  vertical-align: bottom;
  background: #a5c5cb;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  text-align: center;
  margin: 15% 0% 
}

.transformer-tabs li:after {
	content: " ";
	display: block;
	width: 2px;
	height: 22px;
	background: #fff;
	margin-left: 48%;
}

.transformer-tabs li:last-of-type:after {
	content: " ";
	display: block;
	width: 0px;
	height: 0px;
	background: #fff;
	margin-left: 50%;


}


.transformer-tabs li:nth-child(1) .active,
.transformer-tabs li:nth-child(2) .active,
.transformer-tabs li:nth-child(3) .active,
.transformer-tabs li:nth-child(4) .active,
.transformer-tabs li:nth-child(5) .active{
  border-radius: 50%;
  width: 1.15em;
  height: 1em;
  background: #fff;
  color: #333;
}

.transformer-tabs a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}
.transformer-tabs a.active {
  border-bottom: 3px solid transparent;
  position: relative;
}


.tabs > div {
  display: none;
  padding: 1rem;
}

.tabs > .active {
  display: block;
}

.tabs {
  background: #a5c5cb;
  color: #333;
}

.tabs img.title {
	width: 50%;
	margin: -3% 35% -5% 1%;
	display: block;
	float: left;
	z-index: 9999;
}

.tabs img {
	width: 50%;
	float: left;
	margin: -4% 0 0 -3%;
	padding: 0 3% 5% 0;
}


.tabs .processContent {
	width: 30%;
	float: left;
	margin-top: -1%;
}

.tabs .processContent h2 {
	font-size: 1.75em;
	font-weight: 700;
}

.tabs .sectionTitle,
.contact .sectionTitle {
	padding-left: 10%;
}

.work {
	width: 80%;
	margin: 5% 10% 0 10%;
}

.work img.recentwork {
	width: 50%;
	margin: -10% -20% -4% 60%;
	z-index: 1;
	position: relative;

}

.work section {
    width: 32%;
    margin: 0% .5% 1% .5%;
    background: #3a5e60;
    position: relative;
    color: #fff;
}

.work section:last-of-type {
	margin-bottom: 7%;
}

.work section .workDescription {
	padding: 2% 0 5% 5%;
}

.work section .workButtons {
	display: block;
	margin: 0 0 6% 5%;
	
}

.work section .workButtons a {
	border: 1px solid #ddd;
	text-decoration: none;
	padding: 1.5% 5%;
	text-transform: uppercase;
	font-weight: 400;
	font-size: .8em;
	color: #ddd;
	margin: 0 4% 0 0;
}

.work section .workButtons a:hover {
	background: #ddd;
	color: #333;
}

.work h4 {
	text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: 600;
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}

.work em {

	font-weight: 300;
	font-size: .9em;

}

.work a img {
	margin-top: 5%;
}

.colorPallet  {
	height: 3em;
	width: 3em;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid black;
	margin: 3% 4.5%;
}

.stremler_elements {
	width: 80%;
	margin: 0 auto 0 10%;
	display: block;
}

.stremler_elements h2,
.stremler_elements h3 {
	font-family: 'Proxima Nova', sans-serif;
	text-align: center;
	width: 90%;
}

.stremler_elements h3 {
	font-weight: 300;
}


.stremler_elements .colorPallet:nth-child(1) {
	background: #d52228;
}
.stremler_elements .colorPallet:nth-child(2) {
	background: #202f34;
}
.stremler_elements .colorPallet:nth-child(3) {
	background: #ddd;
}
.stremler_elements .colorPallet:nth-child(4) {
	background: #fff;
}
.stremler_elements .colorPallet:nth-child(5) {
	background: #575757;
}

.barb_elements {
	width: 80%;
	margin: 0 auto 0 10%;
	display: block;
}

.barb_elements h2,
.barb_elements h3 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	width: 90%;
}

.barb_elements h3 {
	font-weight: 300;
}


.barb_elements .colorPallet:nth-child(1) {
	background: #3f3f3f;
}
.barb_elements .colorPallet:nth-child(2) {
	background: #fff;
}
.barb_elements .colorPallet:nth-child(3) {
	background: #89a79f;
}
.barb_elements .colorPallet:nth-child(4) {
	background: #474747;
}
.barb_elements .colorPallet:nth-child(5) {
	background: #181818;
}

.tenji_elements {
	width: 80%;
	margin: 0 auto 0 10%;
	display: block;
}

.tenji_elements h2,
.tenji_elements h3 {
	font-family: 'Futura', sans-serif;
	text-align: center;
	width: 90%;
}

.tenji_elements h3 {
	font-weight: 300;
}


.tenji_elements .colorPallet:nth-child(1) {
	background: #ffffff;
}
.tenji_elements .colorPallet:nth-child(2) {
	background: #ed6523;
}
.tenji_elements .colorPallet:nth-child(3) {
	background: #ac1f23;
}
.tenji_elements .colorPallet:nth-child(4) {
	background: #484848;
}
.tenji_elements .colorPallet:nth-child(5) {
	background: #000;
}

.oakwood_elements {
	width: 80%;
	margin: 0 auto 0 10%;
	display: block;
}

.oakwood_elements h2,
.oakwood_elements h3 {
	font-family: 'Playfair Display', serif;
	text-align: center;
	width: 90%;
}

.oakwood_elements h3 {
	font-weight: 300;
}


.oakwood_elements .colorPallet:nth-child(1) {
	background: #212121;
}
.oakwood_elements .colorPallet:nth-child(2) {
	background: #444444;
}
.oakwood_elements .colorPallet:nth-child(3) {
	background: #353945;
}
.oakwood_elements .colorPallet:nth-child(4) {
	background: #fbad1c;
}
.oakwood_elements .colorPallet:nth-child(5) {
	background: #ffffff;
}

.slice_elements {
	width: 80%;
	margin: 0 auto 0 10%;
	display: block;
}

.slice_elements h2,
.slice_elements h3 {
	font-family: 'proxmima nova', sans-serif;
	text-align: center;
	width: 90%;
}

.slice_elements h3 {
	font-weight: 300;
}


.slice_elements .colorPallet:nth-child(1) {
	background: #000;
}
.slice_elements .colorPallet:nth-child(2) {
	background: #19737a;
}
.slice_elements .colorPallet:nth-child(3) {
	background: #4dbfad;
}
.slice_elements .colorPallet:nth-child(4) {
	background: #fbdd00;
}
.slice_elements .colorPallet:nth-child(5) {
	background: #ffffff;
}


.about { 
	width: 100%;
	padding: 0 10%;
}


.about .sectionTitle img {
	margin: -13% 0 0 -18%;
	width: 80%;
}

.about h5 {
	margin: -9% 0 0 0;
	font-size: 1.75em;
	font-weight: 600;
	color: #873a4b;
}

.about section:first-of-type{
	width: 30%;
	display: block;
	margin: 0 auto 7% auto ;
	float: left;
}

.about section:first-of-type img {
	width: 80%;
	display: block;
	margin: 20% auto 0 auto;
}

.about .sectionTitle {
	margin: 15% auto 0 auto;
}

.contact {
	background: #769da4;
	text-align: center;
	color: #fff;
}

.contact img.getintouch {
	width: 60%;
	margin: -3% auto 0 auto;
}

.contact ul {
	margin: -2% 0 5% -3%;
}

.contact ul li{
	width: 2em;
	list-style: none;
	display: inline-block;
	margin: 0;
}

.contact ul img{
	width: 100%;
}

.contact h6 {
	font-size: 1.2em;
	letter-spacing: .1em;
}


@media screen and (max-width: 768px) {


	.landing img {
    margin: 15% 0 3% 5%;
}

	.about section:first-of-type img {
    width: 100%;
}

.about .sectionTitle img {
    width: 110%;
    margin-top: 9%;
}

.about h5 {
    margin: -9% 0 0 8%;
    font-size: 1.5em;
}

.about p {
    width: 90vw;
    margin: 16% 0 15% -70%;

}

.tabs img.title {
    width: 70%;

}

.work img.recentwork {
    width: 70%;
    margin: -10% -20% -4% 40%;
}

	.skills section {
		width: 47%;
		margin-bottom: 5%;
	}

	.tabs img {
		width: 80%;
		padding-left: 4%;
	}

	.tabs .processContent {
		 width: 70%;
		 margin: -2% 0 3% 15%;
	}

	.tabs .sectionTitle {
		margin-left: 6%;
	}

	.three-even section:nth-child(1),
	.three-even section:nth-child(2),
	.three-even section:nth-child(3),
	.three-even section:nth-child(4),
	.three-even section:nth-child(5),
	.three-even section:nth-child(6),
	.three-even section:nth-child(7) {
		width:49%;
	}
}

@media screen and (max-width: 480px) { 


	nav {
		background: none;
	}

	.nav {
		background: #dbdddc;
		height: 10%;
	}




	.mobile {
    display: block;


  }

  .mobile div {
  	position: absolute;
  	top: 0;
  	width: 100%;
  	z-index: -99;
  	margin-top: 0%;
  }


.mobile ul {
	width: 100%;
}


.mobile div li:first-of-type {
	padding-top: 5%;
}

.mobile div li:last-of-type {
	padding-bottom: 5%;
}

  .mobile li {
    display: block;
    width: 100%;
    text-align: left;
     background: rgba(219,219,219,.95);
     padding: 0 0 0 18%;
     margin: 0;
        
  }

  .mobile li a {
  	color: black;
  }


  .desktop {
    display: none;
  }


	
	#desktopnav {
		visibility: hidden;
		width: 0;
		height: 0;
	}




	button#mobilemenu {
		visibility: visible;
		height: 1em;
		width: 1em;
		position: absolute;
		top: 2.5%;
		left: 2%;
		background: rgb(255,255,255) url('https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png');
	}


	#mobilenav {
		visibility: visible;
		opacity: 0;

	}



	.landing img {
	margin-top: 25%;
	width: 100%;

	}

	.about .sectionTitle img {
    width: 110%;
    margin-top: -100%;
    margin-left: 3%;
}

.about h5 {
    width: 90vw;
    margin-left: -5%;

}

.about p {
    width: 85vw;
    margin-left: -5%;
    margin-top: 5%;
}

.tabs img.title {
    width: 90%;
}

.work img.recentwork {
    width: 90%;
    margin: -10% -20% -4% 20%;
}

	.skills section {
		width: 100%;
		margin-bottom: 5%;
	}

	.tabs img {
		width: 98%;
		padding-left: 4%;
	}

	.tabs .processContent {
		 width: 90%;
		 margin: -2% 0 8% 5%;
	}

	.tabs .sectionTitle {
		margin-left: 0%;
	}

	.three-even section:nth-child(1),
	.three-even section:nth-child(2),
	.three-even section:nth-child(3),
	.three-even section:nth-child(4),
	.three-even section:nth-child(5),
	.three-even section:nth-child(6),
	.three-even section:nth-child(7){
		width:100%;
	}

	.about section:first-of-type {
		width: 83%;
		margin-top: -5%;
	}

	.about section:last-of-type {
		width: 80%;
	}


.transformer-tabs ul {
  width: 100%;

}

	.transformer-tabs li {
  display: inline-block;
  margin: -3% 10% 5% 0;
}

.transformer-tabs li:after {
	content: " ";
	display: inline-block;
	width: 0;
	height:0;
	background: #fff;
	position: absolute;
}

.contact em {
    margin: 0 8%;
}

}


/*CLEARFIX*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

